.nav li{
    display: inline-block;
    font-family: helvetica;
    font-size: 14px;
    text-shadow: 1px;
    text-decoration: underline;
    font-weight: 700;
    margin-left: 180px;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav li:link {
    color: white;
}
.nav li:visited {
    color: coral;
}
.nav li:hover {
    color: burlywood;
}
.nav li:active {
    color: white;
}

* {
    font-family: Helvetica, sans-serif;
    opacity: 97;
}

.aboutme {
    display: block;
    margin-top: 5em;
    margin-left: 20em;
    margin-right: 20em;
    background-color: rgba(205, 92, 92, .6);
    border-radius: 50px;

}

.aboutme h1 {
    text-align: center;
    text-shadow: 1px 1px 3px ;
    font-weight: 700;
    font-size: 40px;
    padding-top: 1em;
    border-radius: 50px;
}
.aboutme p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 1em;
    border-radius: 50px;
    padding-left: 2em;
    padding-right: 2em;
    text-shadow: 0.5px 0.5px 0.5px;
    }

aside {
    position: relative;
}

#photo {
    float:left;
    width: 13%;
    height: 13%;
    border-radius: 50%;
    margin-left: 4em;
    
}

.softskills {
    float: left;
    width: 25%;
    background-color: rgba(205, 92, 92, .6);
    border-radius: 20px;
    margin: 1.5em;
    margin-left: 7em;
}
.softskills h2 {
    border-radius: 20px;
    text-shadow: 1px 1px 2px;
    font-weight: 700;
    font-size: 32px;
    padding-left: 1em;
}

.softskills ul {
    font-size: 18px;
    list-style-type: none;  
    text-shadow: 0.5px 0.5px 0.5px;  
}

.languages {
    float: left;
    width: 25%;
    background-color: rgba(205, 92, 92, .6);
    border-radius: 20px;
    margin: 1.5em;
    margin-left: 2.5em;
}
.languages h2 {
    border-radius: 20px;
    text-shadow: 1px 1px 2px;
    font-weight: 700;
    font-size: 32px;
    padding-left: 1em;
}

.languages ul {
    font-size: 18px;
    list-style-type: none;
    text-shadow: 0.5px 0.5px 0.5px;
}

.tools {
        float: right;
        width: 25%;
        background-color: rgba(205, 92, 92, .6);
        border-radius: 20px;
        margin: 1.5em;
        margin-right: 7em;
        margin-left: 1em;
}
.tools h2 {
        border-radius: 20px;
        text-shadow: 1px 1px 2px;
        font-weight: 700;
        font-size: 32px;
        padding-left: 1em;
    }
    
.tools ul {
        font-size: 18px;
        list-style-type: none;
        text-shadow: 0.5px 0.5px 0.5px;
}

.projects {
    display: block;
    width: auto;
    background-color: rgba(205, 92, 92, .6);
    border-radius: 20px;
    margin: 2em;
    margin-top: 20em;
    margin-left: 20em;
    margin-right: 20em;
}

.projects h2 {
    text-align: center;
    text-shadow: 1px 1px 2px ;
    font-weight: 700;
    font-size: 32px;
    padding-top: 1em;
    border-radius: 50px;
}

.projects p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 1em;
    border-radius: 50px;
    text-shadow: 0.5px 0.5px 0.5px;
    padding-left: 2em;
    padding-right: 2em;
}

.contact {
    width: auto;
    margin-top: 2em;
    color: white;
}

.contact h3 {
    padding-left: 2.1em;
    text-shadow: 1px 1px 0.5px;
    padding-top: 4em;
}

.footleft {
    font-size: 16px;
    margin-left: 2em;
    margin-right: auto;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    float: left;
    display: inline;
    margin-bottom: 2em;
}

.footright {
    font-size: 16px;
    margin-left: 2em;
    margin-right: auto;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    float: left;
    display: inline;
    margin-bottom: 2em;
}

.photo1 {
    float: left;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    margin-left: 4em;
}

.photo2 {
    float: left;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    margin-left: 8em;
}